[Unit]
Description=Terragraph E2E Controller

[Service]
Type=simple
User=root

EnvironmentFile=-/etc/sysconfig/tg_services
EnvironmentFile=-/etc/default/tg_services

ExecStart=/home/nms/tgnms/service_chroot/e2e_controller/run

Restart=on-failure
RestartSec=4

ExecStopPost=/bin/sh -c ' \
ROOTFS=$E2E_ROOTFS; \
if [ "$(pgrep -c e2e_controller)" -eq "1" ]; then \
  PID=$(pgrep e2e_controller); \
  ROOTFS=$(readlink /proc/$PID/cwd); \
  echo Using rootfs from running e2e_controller: $ROOTFS; \
else \
  echo Unable to determine rootfs of running e2e_controller; \
fi; \
/home/nms/tgnms/service_chroot/e2e_controller/stop $ROOTFS \
'

[Install]
WantedBy=default.target
