doctype html
html
  head
    title Terragraph NMS
    link(rel='icon', sizes='32x32', href='/static/images/favicon.png')
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description", content="Terragraph Network Management System")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/static/css/nms.css")
    script(id="config-json", type="text").
      !{configJson}
    script.
      var CONFIG = JSON.parse(document.getElementById("config-json").innerText);
    style.
      .root {
        height: 100%,
        margin: 0px;
      }

  body
    div(id="root")
    script(src=staticDist("vendor.js"))
    script(src=staticDist("main.js"))
