[Unit]
Description=Terragraph Stats Agent

[Service]
Type=simple
User=root
EnvironmentFile=-/etc/sysconfig/tg_services
EnvironmentFile=-/etc/default/tg_services
ExecStart=/home/nms/tgnms/service_chroot/stats_agent/run
Restart=on-failure

[Install]
WantedBy=default.target
