.nc-slider-wrapper {
  position: relative;
  width: 62px;
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
  display: inline-flex;

  z-index: 1;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  background-color: #eee;
}

input[type=checkbox]:not(:checked) + label .nc-slider-options {
  left: -35px;
  /* width of the yes/no width plus the padding */
}

.nc-slider-options {
  position: relative;
  left: 0;
  white-space: nowrap;
  -ms-transition: left 0.2s ease-in-out;
  -webkit-transition: left 0.2s ease-in-out;
  -moz-transition: left 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;

  z-index: 1;
}

.nc-slider-option-selector {
  display: inline-block;
  width: 25px;
  z-index: 1;
}

.nc-slider-option {
  display: inline-block;
  width: 35px;
  padding: 2px;
  text-align: center;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;

  z-index: 1;
}

.nc-custom-checkbox {
   display: none;
}
