.network-upgrade {
  margin-top: 40px;
  top: 0;
  bottom: 0;
  position: fixed !important;

  overflow-y: auto;
  float: left;
  width: 100%;
}

.upgrade-command-pane {
  margin-left: 10px;
  margin-right: 10px;
  width: 300px; /* fixed width for now */
  height: 100%;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.upgrade-btn {
  width: 100%;
  margin-top: 10px;
}

.abort-btn {
  width: 100%;
  padding: 30px;
  border: none;
  margin-top: auto;
}

.upgrade-modal-footer {
  margin-top: 10px;
}

.upgrade-modal-footer button {
  margin-left: 5px;
  float: right;
}

.upgrade-modal-content {
  display: flex;
  flex-direction: column;
}

.upgrade-modal-row {
  margin-bottom: 10px;
}

.upgrade-modal-row label {
  float: left;
  width: 35%;
}

.upgrade-modal-row input {
  width: 65%;
}
