.network-upgrade {
  margin-top: 40px;
  top: 0;
  bottom: 0;
  position: fixed !important;

  display: flex;
  flex-direction: row;

  overflow-y: auto;
  float: left;
  width: 100%;
}

/* UPGRADE COMMAND PANE */

.upgrade-command-pane {
  margin-left: 10px;
  margin-right: 10px;
  width: 200px; /* fixed width for now */
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* do not try to shrink this column when resizing */

  box-sizing: border-box;
}

.upgrade-btn {
  width: 100%;
  margin-top: 10px;
}

/* UPGRADE MONITORING */
.rc-upgrade-monitor {
  margin-top: 10px;

  width: calc(100% - 220px);
  overflow-y: auto;
}

.upgrade-monitor-row label {
  font-size: 20px;
  padding-left: 10px;
}

/* UPGRADE MODAL */
.upgrade-modal-footer {
  margin-top: 10px;
}

.upgrade-modal-footer button {
  margin-left: 5px;
  float: right;
}

.upgrade-modal-content {
  display: flex;
  flex-direction: column;
}

.upgrade-modal-row {
  margin-bottom: 10px;
}

.upgrade-modal-row label {
  float: left;
  width: 35%;
}

.upgrade-modal-row input {
  width: 65%;
}

.upgrade-modal-nodes-list {
  max-height: 200px;
  overflow-y: auto;
}

.upgrade-add-img-btn {
  padding: 0;
  border: none;
  margin-left: 10px;
}

.upgrade-add-img-btn:disabled {
  opacity: 0.5;
}

.upgrade-modal-btn:disabled {
  opacity: 0.5;
}

/* UPGRADE BINARY MODAL */
.upgrade-modal-upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upgrade-modal-upload-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 10px;
}

.upgrade-modal-upload-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.refresh-images {
  float: right;
  margin-right: 10px;
}

.refresh-images:hover {
  cursor: pointer;
  color: #0095ff;
}
