@import url("nms-nc-left-pane.css");
@import url("nms-nc-form.css");
@import url("nms-nc-form-tooltip.css");
@import url("nms-nc-custom-toggle.css");

.rc-network-config {
  margin-top: 40px;
  top: 0;
  bottom: 0;
  position: fixed !important;

  display: flex;
  flex-direction: row;

  overflow-y: auto;
  float: left;
  width: 100%;
}

/* NETWORK CONFIG BODY */
.rc-network-config-body {
  padding-top: 60px;
  margin-bottom: 65px;

  width: calc(100% - 300px);
  overflow-y: auto;
}

/* NETWORK CONFIG HEADER */
.rc-network-config-header {
  width: calc(100% - 300px);

  display: flex;
  flex-direction: row;
  align-items: center;

  position: absolute;
  top: 0;
  border-bottom: 1px solid #777;
  background-color: #fff;
  z-index: 1;
}

.nc-header-title {
  /* top right bottom left */
  margin: 11px 40px 11px 20px;
  flex-shrink: 0;
}

/* NETWORK CONFIG FOOTER */
.rc-network-config-footer {
  border-top: 1px solid #777;
  width: calc(100% - 300px);
  position: absolute;
  bottom: 0;
}

.rc-network-config-footer button {
  border: 2px solid;
  margin: 10px;
}

.rc-network-config-footer button:disabled {
  opacity: 0.5;
}
