.rc-network-config {
  margin-top: 40px;
  top: 0;
  bottom: 0;
  position: fixed !important;

  display: flex;
  flex-direction: row;

  overflow-y: auto;
  float: left;
  width: 100%;
}

/* NETWORK CONFIG LEFT PANE */
.rc-network-config-left-pane {
  border-right: 1px solid #aaa;

  width: 300px; /* fixed width for now */
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* do not try to shrink this column when resizing */

  box-sizing: border-box;
}

.nc-view-select {
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}

.nc-view-option {
  height: 100%;
  width: 50%;
  text-align: center;

  display: table;
  border-bottom: 2px solid #aaa;
}

.nc-view-option-selected {
  background-color: #6b7df3;
}

.nc-view-option p {
  display: table-cell;
  vertical-align: middle;

  font-size: large;
  color: #000000;
}

.nc-view-option-selected p {
  font-weight: 600;
}

.rc-network-config-nodes {
  overflow-y: auto;
}

/* NETWORK CONFIG BODY */
.rc-network-config-body {
  margin-bottom: 65px;

  margin-top: 10px;

  width: calc(100% - 300px);
  overflow-y: auto;
}

.rc-network-config-footer {
  border-top: 1px solid #777;
  width: calc(100% - 300px);
  position: absolute;
  bottom: 0;
}

.rc-network-config-footer button {
  border: 2px solid;
  margin: 10px;
}

.rc-network-config-footer button:disabled {
  opacity: 0.5;
}

/* NETWORK CONFIG JSON FORM */
.rc-json-config-form ul {
  list-style-type: none;
}

.config-form-root {
  padding-left: 10px;
}

.rc-expandable-config-form {
  /*padding-left: 40px;*/
}

.rc-expandable-config-form .rc-json-config-form {
  /*padding-left: 22px;*/
}

.json-field-focused {
  background-color: #ddd;
}

.config-form-label {
  margin-right: 10px;
  min-width: 250px; /* fixed min width so we can align the input fields */
}

.config-form-input {
  background-color: #fff;
  min-width: 250px;
}

.config-expand-marker {
  padding-right: 10px;
}
