
/* NETWORK CONFIG LEFT PANE */
.rc-network-config-left-pane {
  border-right: 1px solid #aaa;

  width: 300px; /* fixed width for now */
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* do not try to shrink this column when resizing */

  box-sizing: border-box;
}

.nc-view-select {
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}

.nc-view-option {
  height: 100%;
  width: 50%;
  text-align: center;

  display: table;
  border-bottom: 2px solid #aaa;
}

.nc-view-option-selected {
  background-color: rgb(183,210,255);
}

.nc-view-option p {
  display: table-cell;
  vertical-align: middle;

  font-size: large;
  color: #000000;
}

.nc-view-option-selected p {
  font-weight: 600;
}

.rc-network-config-nodes {
  overflow-y: auto;
  margin-bottom: 424px;
}

.nc-node-with-override {
  font-weight: 600;
  font-size: 15px;
}

/* NETWORK CONFIG LEGEND */
.rc-network-config-legend {
  height: 424px;
  width: inherit;
  background-color: #eee;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;

  position: absolute;
  bottom: 0;

  box-sizing: border-box;
  padding: 10px;
}

.nc-legend-heading {
  font-weight: 600;
  font-size: 18px;
}

.nc-legend-subheading {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}

.nc-legend-section {
  margin-left: 10px;
}

.nc-legend-node {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;

  /* to force a "100% width look" */
  margin-left: -20px;
  margin-right: -10px;
}

.nc-field-op-legend td {
  padding-right: 15px;
  padding-bottom: 5px;
}

.nc-field-op-desc {
  vertical-align: middle;
}

.nc-json-field-legend {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.nc-json-field-legend input {
  width: 128px;
  margin-right: 5px;
  margin-bottom: 5px;
}
