/* loading image is 40x40, column width is 450, height = 350 */
#root {
  margin: auto;
}
div.SplitPane {
  margin-top: 40px;
  position: fixed !important;
}

div.SplitPane.soloPane1.horizontal > .Pane2,
div.SplitPane.soloPane2.horizontal > .Pane1 {
    height: 0px !important;
}

div.SplitPane.soloPane1.horizontal > .Pane1,
div.SplitPane.soloPane2.horizontal > .Pane2 {
    height: 100% !important;
    padding-bottom: 40px;
}

.loading-indicator {
  width: 100%;
  text-align: center;
  margin-left: 205px;
  margin-top: 155px;
}
.graph-button {
  font-size: 12px;
  padding: 4px;
  border: 2px solid;
  margin-left: 4px;
  width: 110px;
}
.graph-button-selected {
  background-color: cornflowerblue;
}
.graph-button-disabled {
  background-color: darkgray;
}
.graph-opt-title {
  width: 150px;
  height: 30px;
  display: inline-block;
}
.status-table {
  padding: 10px;
  float: left;
}
.status-table td {
  padding: 5px;
}
.status-table tr:nth-child(2n+1) {
  background: #eee;
}
.status-table tr:nth-child(2n) {
  background: #ddd;
}
