doctype html
html
  head
    title NMS
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description", content="Terragraph Network Management System")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/static/css/normalize.min.css")
    link(rel="stylesheet", href="/static/css/bootstrap.min.css")
    link(rel="stylesheet", href="/static/css/asyncbutton.css")
    link(rel="stylesheet", href="/static/css/nms.css")

  body
    div(id="root")
    script(src='/login.js')
