!.eslintrc.js
**/*.min.js

**/node_modules/**

dist/**/*.js
flow-typed/npm/**/*.js
**/thrift/gen-nodejs/*.js
config/webpack.*.js
fbcnms-packages/eslint-config-fbcnms/index.js
fbcnms-packages/fbcnms-magma-api/__generated__/*.js
fbcnms-projects/tgnms/shared/types/*.js
fbcnms-projects/tgnms/static/**/*.js
