[Unit]
Description= Production Beringei Query Service
           
[Service]
Type=simple
User=root
ExecStart=/home/nms/tgnms/service/beringei_query_service/run
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
