version: '3.7'

services:
  analytics:
    image: {{ msa_analytics_image }}
{% if keycloak_enabled %}
    env_file:
      - {{ msa_gfs_path }}/env/analytics_auth.env
{% endif %}
    volumes:
      - {{ msa_gfs_path }}/config/config.json:/usr/local/analytics/config.json
      - {{ msa_gfs_path }}/config/analytics/service_config.json:/usr/local/analytics/service_config.json
      - {{ msa_gfs_path }}/config/hardware_config.json:/usr/local/analytics/hardware_config.json
    networks:
      - terragraph_net
    command: ["/bin/sh", "-c", "analytics"]
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "10"
  crashlog_analysis_service:
    image: {{ msa_crashlog_analysis_service_image }}
    env_file:
      - {{ msa_gfs_path }}/env/crashlog_analysis_service.env
    volumes:
      - {{ msa_gfs_path }}/config/config.json:/usr/local/crashlog_analysis_service/config.json
      - {{ msa_gfs_path }}/config/crashlog_analysis_service/alembic.ini:/usr/local/crashlog_analysis_service/alembic.ini
      - {{ msa_gfs_path }}/config/crashlog_analysis_service/service_config.json:/usr/local/crashlog_analysis_service/service_config.json
    networks:
      - terragraph_net
    command: ["/bin/sh", "-c", "alembic upgrade head && crashlog_analysis_service"]
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "10"
  default_routes_service:
    image: {{ msa_default_routes_service_image }}
    env_file:
      - {{ msa_gfs_path }}/env/default_routes_service.env
{% if keycloak_enabled %}
      - {{ msa_gfs_path }}/env/default_routes_service_auth.env
{% endif %}
    volumes:
      - {{ msa_gfs_path }}/config/config.json:/usr/local/default_routes_service/config.json
      - {{ msa_gfs_path }}/config/default_routes_service/alembic.ini:/usr/local/default_routes_service/alembic.ini
      - {{ msa_gfs_path }}/config/default_routes_service/service_config.json:/usr/local/default_routes_service/service_config.json
    networks:
      - terragraph_net
    command: ["/bin/sh", "-c", "alembic upgrade head && default_routes_service"]
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "10"

  network_health_service:
    image: {{ msa_network_health_service_image }}
    env_file:
      - {{ msa_gfs_path }}/env/network_health_service.env
{% if keycloak_enabled %}
      - {{ msa_gfs_path }}/env/network_health_service_auth.env
{% endif %}
    volumes:
      - {{ msa_gfs_path }}/config/config.json:/usr/local/network_health_service/config.json
      - {{ msa_gfs_path }}/config/network_health_service/alembic.ini:/usr/local/network_health_service/alembic.ini
      - {{ msa_gfs_path }}/config/network_health_service/service_config.json:/usr/local/network_health_service/service_config.json
    networks:
      - terragraph_net
    command: ["/bin/sh", "-c", "alembic upgrade head && network_health_service"]
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "10"

  network_test:
    image: {{ msa_network_test_image }}
    env_file:
      - {{ msa_gfs_path }}/env/network_test.env
{% if keycloak_enabled %}
      - {{ msa_gfs_path }}/env/network_test_auth.env
{% endif %}
    volumes:
      - {{ msa_gfs_path }}/config/config.json:/usr/local/network_test/config.json
      - {{ msa_gfs_path }}/config/network_test/alembic.ini:/usr/local/network_test/alembic.ini
      - {{ msa_gfs_path }}/config/network_test/service_config.json:/usr/local/network_test/service_config.json
    networks:
      - terragraph_net
    command: ["/bin/sh", "-c", "alembic upgrade head && network_test"]
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "10"

  scan_service:
    image: {{ msa_scan_service_image }}
    env_file:
      - {{ msa_gfs_path }}/env/scan_service.env
{% if keycloak_enabled %}
      - {{ msa_gfs_path }}/env/scan_service_auth.env
{% endif %}
    volumes:
      - {{ msa_gfs_path }}/config/config.json:/usr/local/scan_service/config.json
      - {{ msa_gfs_path }}/config/scan_service/alembic.ini:/usr/local/scan_service/alembic.ini
      - {{ msa_gfs_path }}/config/scan_service/service_config.json:/usr/local/scan_service/service_config.json
      - {{ msa_gfs_path }}/config/hardware_config.json:/usr/local/scan_service/hardware_config.json
    networks:
      - terragraph_net
    command: ["/bin/sh", "-c", "alembic upgrade head && scan_service"]
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "10"

  topology_service:
    image: {{ msa_topology_service_image }}
    env_file:
      - {{ msa_gfs_path }}/env/topology_service.env
{% if keycloak_enabled %}
      - {{ msa_gfs_path }}/env/topology_service_auth.env
{% endif %}
    volumes:
      - {{ msa_gfs_path }}/config/config.json:/usr/local/topology_service/config.json
      - {{ msa_gfs_path }}/config/topology_service/alembic.ini:/usr/local/topology_service/alembic.ini
      - {{ msa_gfs_path }}/config/topology_service/service_config.json:/usr/local/topology_service/service_config.json
    networks:
      - terragraph_net
    command: ["/bin/sh", "-c", "alembic upgrade head && topology_service"]
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "10"

  weather_service:
    image: {{ msa_weather_service_image }}
{% if keycloak_enabled %}
    env_file:
      - {{ msa_gfs_path }}/env/weather_service_auth.env
{% endif %}
    volumes:
      - {{ msa_gfs_path }}/config/config.json:/usr/local/weather_service/config.json
      - {{ msa_gfs_path }}/config/weather_service/service_config.json:/usr/local/weather_service/service_config.json
    networks:
      - terragraph_net
    command: ["/bin/sh", "-c", "weather_service"]
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "10"

networks:
  terragraph_net:
    external: true
