doctype html
html
  head
    title NMS
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description", content="Terragraph Network Management System")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/static/css/metricsgraphics.css")
    link(rel="stylesheet", href="/static/css/normalize.min.css")
    link(rel="stylesheet", href="/static/css/leaflet.css")
    link(rel="stylesheet", href="/static/css/bootstrap.min.css")
    link(rel="stylesheet", href="/static/css/react-bootstrap-table-all.min.css")
    link(rel="stylesheet", href="/static/css/react-split-pane.css")
    link(rel="stylesheet", href="/static/css/menu-pane.css")
    link(rel="stylesheet", href="/static/css/react-contextmenu.css")
    link(rel="stylesheet", href="/static/css/grid-layout.css")
    link(rel="stylesheet", href="/static/css/react-select.css")
    link(rel="stylesheet", href="/static/css/asyncbutton.css")
    link(rel="stylesheet", href="/static/css/numericInput.css")
    link(rel="stylesheet", href="/static/css/nms.css")
    link(rel="stylesheet", href="/static/css/daterangepicker.css")
    link(rel="stylesheet", href="/static/css/rc-menu.css")
    link(rel="stylesheet", href="/bootstrap.css")
    script.
      var CONFIG = JSON.parse('!{configJson}');
    script(src='/static/js/jquery.min.js')
    script(src='/static/js/bootstrap.min.js')
    style.
      .leaflet-container {
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
      .leaflet-popup-content {
        height: 300px;
        width: 300px;
      }
      .menu {
        width: 200px;
        min-width: 200px;
        position: fixed;
        bottom: 0;
        top: 0;
        left: 0;
      }
      .mg-container {
        border: 0;
      }
      .dashboard-grid {
        list-style-type:none;
      }

      .td-column-function-alert-critical{
          background-color: #ff9191;
      }

      .td-column-function-alert-warning{
          background-color: #f6d66f;
      }

      .td-column-function-alert-info{
          background-color: #c2d3d3;
      }

      .groupingContainer {
        top: 10px;
        z-index: 1000;
        width: 250px;
        height: auto;
        background: hsla(0,100%,100%,0.8);
        margin: 10px;
        font-family: sans-serif;
        font-size: 13px;
        padding: 5px;
        padding-bottom: 10px;
        border-radius: 5px;
      }

      .blank_row
      {
          height: 10px !important; /* Overwrite any previous rules */
          background-color: #FFFFFF;
      }

      table{
      }
      #events{
        border-collapse: separate;
        border-spacing: 15px 5px;
      }

  body
    div(id="root")
    script(src='/map.js')
