[Unit]
Description= Production Beringei Stats Writer (30sec)
           
[Service]
Type=simple
User=root
EnvironmentFile=/home/nms/tgnms/service/beringei_stats_writer/config/30sec
ExecStart=/home/nms/tgnms/service/beringei_stats_writer/run
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
