!.eslintrc.js
**/*.min.js

**/dist/**/*.js
**/node_modules/**/*.js

static/apidoc/locales/**/*.js
static/apidoc/utils/**/*.js
static/apidoc/vendor/**/*.js
thrift/**/*.js
webpack.*.js
xterm/addons/**/*.js
xterm/xterm.js
