#login-root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #d5e3fd;
  background: url('/static/images/city-bg.png');
  background-size: cover;
  overflow: auto;
}
