.json-diff-container {
  background-color: #f3f3f3;
  border: none;
  max-height: 40vh;
  overflow-y: scroll;
  text-align: left;
}

.json-diff.add {
  background-color: #e6ffed;
}

.json-diff.remove {
  background-color: #ffdde1;
}
