
/* NETWORK CONFIG LEFT PANE */
.rc-network-config-left-pane {
  width: 300px; /* fixed width for now */
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* do not try to shrink this column when resizing */

  box-sizing: border-box;
}

.rc-network-config-left-pane .body-padding {
  padding: 7px;
}

.rc-network-config-left-pane .selector-title {
  margin: 5px 3px;
  font-weight: bold;
}

.nc-view-select {
  height: 50px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}

.nc-view-option {
  height: 100%;
  width: 50%;
  text-align: center;

  display: table;
  border-bottom: 1px solid #aaa;
}

.nc-view-option-selected {
  background-color: rgb(183,210,255);
}

.nc-view-option p {
  display: table-cell;
  vertical-align: middle;

  font-size: large;
  color: #000000;
}

.nc-view-option-selected p {
  font-weight: 600;
}

.rc-network-config-image-selector {
  flex: 1;
}

.rc-network-config-nodes {
  overflow-y: auto;
  flex: 1;
}

.rc-network-config-nodes  td:focus {
  outline: none;
}

.nc-node-with-override {
  font-weight: 600;
  font-size: 15px;
}

/* NETWORK CONFIG LEGEND */
.rc-network-config-legend {
  width: inherit;
  background-color: #eee;
  border-top: 1px solid #aaa;
  box-sizing: border-box;
  padding: 10px;
  position: fixed;
  bottom: 0;
}

.legend-expand-marker {
  margin-left: 10px;
}

.nc-legend-title {
  font-weight: 600;
  font-size: 30px;
  cursor: pointer;
}

.nc-collapsed-title {
  margin: 0;
}

.nc-legend-heading {
  font-weight: 600;
  font-size: 16px;
}

.nc-legend-section {
  margin-left: 10px;
}

.nc-inline-legend-node {
  padding: 10px;
  border: 1px solid #eee;
  width: 50%;
}

.nc-legend-inline-node-container {
  display: flex;
  margin-left: -20px;
  margin-right: -10px;
}

.nc-legend-node {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #eee;

  /* to force a "100% width look" */
  margin-left: -20px;
  margin-right: -10px;
}

.nc-field-op-legend td {
  padding-right: 15px;
  padding-bottom: 5px;
}

.nc-field-op-desc {
  vertical-align: middle;
}

.nc-json-field-legend {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.nc-json-field-legend input {
  margin-right: 5px;
  margin-bottom: 5px;
  min-width: 128px;
  width: 128px;
}

.nc-online-node {
  background-color: #aaffaa;
}

.nc-offline-node {
  background-color: #ffaaaa;
}
