/* config form tooltip */
.rc-json-field-tooltip {
  opacity: 1;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #777;
  padding: 5px;

  z-index: 100;
  position: absolute;
  left: calc(100% + 40px);
  top: 50%;

  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  width: 35rem;
}

.rc-json-field-tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #777 transparent transparent;
}

.rc-json-field-tooltip tr {
  white-space: nowrap;
  margin: 5px;
}

.nc-tooltip-undefined {
  font-style: italic;
}

.nc-tooltip-label {
  font-weight: 600;
  margin-right: 5px;
}

.nc-tooltip-value {
  word-break: break-all;
  word-wrap: break-word;
}

.nc-tooltip-deprecated {
  color: #d63031;
}

.nc-tooltip-container {
  margin-top: 1rem;
}

.nc-tooltip-heading {
  font-size: 1.2em;
  margin: 0 0 4px 0;
}

/* config action div + tooltip */
.nc-form-action {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.nc-form-action .nc-form-action-tooltip {
  visibility: hidden;
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  padding: 7px;
  margin-left: 10px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1000;

  top: -5px;
  left: 105%
}

.nc-form-action:hover .nc-form-action-tooltip {
  visibility: visible;
}

.nc-form-action .nc-form-action-tooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
}
