.network-upgrade {
  margin-top: 40px;
  top: 0;
  bottom: 0;
  position: fixed !important;

  display: flex;
  flex-direction: row;

  overflow-y: auto;
  float: left;
  width: 100%;
}

/* UPGRADE COMMAND PANE */

.rc-upgrade-left-pane {
  margin-left: 10px;
  margin-right: 30px;
  width: 240px; /* fixed width for now */
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* do not try to shrink this column when resizing */

  box-sizing: border-box;
}

.upgrade-btn {
  width: 100%;
  margin-top: 10px;
}

.rc-upgrade-left-pane-status {
  margin-top: 20px;
}

.upgrade-left-status-row {
  margin-bottom: 20px;
}

.upgrade-left-pane-label {
  font-size: 20px;
}

/* UPGRADE MONITORING */
.rc-upgrade-monitor {
  margin-top: 10px;

  width: calc(100% - 220px);
  overflow-y: auto;
}

.rc-upgrade-monitor .upgrade-monitor-row:not(:first-child) {
  margin-top: 20px;
}

.upgrade-monitor-row label {
  font-size: 20px;
  padding-left: 10px;
}

/* UPGRADE MODAL */
.upgrade-modal-content {
  display: flex;
  flex-direction: column;

  max-height: calc(100vh - 100px);
}

.upgrade-modal-row {
  width: 100%;
  padding: 0 10px 10px;
}

.upgrade-modal-row label {
  float: left;
  margin: 5px 7px 5px 0;
  width: 50%;
}

.upgrade-modal-row input[type="text"],
.upgrade-modal-row input[type="number"] {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 3px;
  width: 45%;
}

.upgrade-modal-row.success {
  color: #009900;
  padding: 10px;
}

.upgrade-modal-row.failure {
  color: #990000;
  padding: 10px;
}

.upgrade-modal-row .type-selector {
  display: flex;
}

.upgrade-modal-row .type-selector .choice {
  display: flex;
  font-style: italic;
  margin-right: 15px;
  width: auto;
}

.upgrade-modal-row .type-selector .choice-label {
  margin-left: 7px;
}

.upgrade-modal-row .subtitle {
  display: block;
  margin-bottom: 5px;
}

.upgrade-modal-row input:disabled {
  background: #ddd;
}

.upgrade-modal-row.file-upload {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.upgrade-modal-node-list.Select.is-disabled > .Select-control {
  background-color: #fff;
}

.upgrade-modal-node-list .Select-arrow-zone {
  display: none;
}

.upgrade-modal-node-list.Select--multi .Select-multi-value-wrapper {
  display: block;
  max-height: 200px;
  overflow-y: scroll;
}

.upgrade-modal-node-list.Select--multi.is-disabled .Select-value {
  background-color: #f9f9f9;
}

.prepare-modal-images-list {
  max-height: 200px;
  overflow-y: auto;
}

.image-selected {
  background-color: #b7d2ff;
}

.upgrade-add-img-btn:disabled {
  opacity: 0.5;
}

.upgrade-modal-btn {
  border: 0;
  padding: 0;
  transition: color 50ms ease-in-out;
}

.upgrade-modal-btn .glyphicon-plus {
  margin-right: 5px;
}

.upgrade-modal-btn input[type=file] {
  display: none;
}

.upgrade-modal-btn:hover {
  background-color: transparent;
  box-shadow: none;
  color: #636363;
  cursor: pointer;
}

.upgrade-modal-repeat-btn {
  font-size: 1.7rem;
}

.upgrade-modal-repeat-btn:hover {
  color: #636363;
  cursor: pointer;
}

.upgrade-modal-footer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.upgrade-modal-footer button {
  margin: 0 5px;
}

.upgrade-modal-footer button:disabled {
  opacity: 0.5;
}

/* UPGRADE IMAGE TABLE */
.image-table {
  overflow-y: scroll;
  padding: 5px 0;
}

.image-table-item {
  align-items: center;
  background: #fcfcfc;
  display: flex;
  padding: 15px;
}
.image-table-item:hover {
  background-color: #f6f6f6;
}
.image-table-item .glyphicon {
  font-size: 20px;
}
.image-table-item .glyphicon:hover {
  cursor: pointer;
}
.image-table-item .magnet-button {
  margin-right: 15px;
}
.image-table-item .remove-button {
  color: #c0392b;
  justify-self: flex-end;
}
.image-table-title {
  font-weight: bold;
}
.image-table-subtitle {
  color: #9c9c9c;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 3px;
}
