/* NETWORK CONFIG JSON FORM */
.rc-json-config-form ul {
  list-style-type: none;
  width: 100%;
  /*width: 1200px;*/
  min-width: 700px;
  max-width: 1200px;
}

.config-form-root {
  padding-left: 10px;
  padding-top: 10px;

  flex: 1;
  overflow-y: visible;
}

.config-form-label {
  cursor: pointer;
}

/* NETWORK CONFIG JSON FORM ADD AND NEW FIELD */
.rc-add-json-config-field {
  position: relative;
  display: inline-flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nc-add-new-field {
  font-size: 16px;
  color: #aaaaff;
}

.nc-add-new-field:hover {
  font-weight: 500;
  cursor: pointer;
}

.rc-add-field-dropdown {
  position: absolute;
  border: 1px solid #aaa;
  background-color: #fff;
  z-index: 3;
  top: 30px;
  width: 150px;
}

.rc-add-field-dropdown-hidden {
  display: none;
}

.rc-add-field-dropdown span:first-child {
  color: #777;
  border-top: 0px;
  border-bottom: 1px solid #aaa;
  font-style: italic;
}

.rc-add-field-dropdown span:first-child:hover {
  background-color: #fff;
}

.rc-add-field-dropdown span {
  padding: 6px 10px;
  display: block;
}

.rc-add-field-dropdown span:hover {
  background-color: #eee;
}

.rc-new-json-config-object {
  background-color: rgba(200, 200, 200, 0.2);
  border: 1px solid #aaa;
  margin-bottom: 5px;
  padding: 5px;
  display: inline-block;
}

.nc-object-field-body {
  display: inline-flex;
}

.nc-object-field-label {
  display: inline-flex;
  margin-bottom: 5px;
  margin-right: 10px;
}

/* NETWORK CONFIG JSON FORM INPUTS */
.rc-json-form-field, .rc-new-json-config-field {
  display: inline-flex;
  margin-bottom: 5px;
}


.rc-new-json-config-textarea {
  background-color: rgba(200, 200, 200, 0.2);
  border: 1px solid #aaa;
  margin-bottom: 5px;
  display: inline-flex;
  padding: 5px;
}

.nc-new-field-label {
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 250px; /* fixed min width so we can align the input fields */
}

.nc-form-body {
  display: flex;
  align-items: flex-start;
}

.nc-form-label {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  min-width: 250px; /* fixed min width so we can align the input fields */
}

.nc-override-indicator {
  margin-left: 10px;
  color: #777;
}

.nc-form-input-wrapper {
  display: inline;
  position: relative;
}

.nc-new-json-textarea {
  border-color: #d2d2d2;
  margin-right: 5px;
  min-height: 100px;
  padding: 5px;
  width: 400px;
}

.config-form-input {
  /*background-color: #fff;*/
  min-width: 250px;
}

.config-form-input.error {
  border: 2px solid salmon;
}

.config-form-checkbox {
  display: inline;
  position: relative;

  padding: 3px;
  border: 1px solid #bbb;
}

.config-expand-marker {
  padding-right: 10px;
  cursor: pointer;
}

.nc-missing-field {
  background-color: #fff;
  color: #777;
}

.nc-base-field {
  background-color: #fff;
}

.nc-network-field {
  background-color: #3bd6c6;
}

.nc-node-field {
  background-color: #f1cbff;
}

.nc-draft-field {
  background-color: #fdf498;
}

.nc-revert-field {
  border: 2px solid #000077;
}
