/* loading image is 40x40, column width is 450, height = 350 */

@import url("nms-upgrade.css");
@import url("nms-config.css");
@import url("scans.css");

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/static/fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('/static/fonts/open-sans-v15-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/open-sans-v15-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/static/fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/open-sans-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
}
.nms-body {
  /* Height of Menu Bar defined in rc-menu.css */
  margin-top: 40px;
}
.leaflet-container {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.status-indicator {
  border-radius: 50%;
  display: inline-block;
  height: 17px;
  margin: 3px 8px 3px 3px;
  vertical-align: middle;
  width: 17px;
}
.status-indicator.online,
.status-indicator.green {
  background: radial-gradient(circle, #2ecc71 40%, transparent 70%);
}
.status-indicator.offline,
.status-indicator.red {
  background: radial-gradient(circle, #d63031 40%, transparent 70%);
}
.status-indicator.yellow {
  background: radial-gradient(circle, #f1c40f 40%, transparent 70%);
}
.overlay-image {
  margin-right: 5px;
}

div.SplitPane {
  margin-top: 40px;
  position: fixed !important;
}

div.SplitPane.soloPane1.horizontal > .Pane2,
div.SplitPane.soloPane2.horizontal > .Pane1 {
    height: 0px !important;
}

div.SplitPane.soloPane1.horizontal > .Pane1,
div.SplitPane.soloPane2.horizontal > .Pane2 {
    height: 100% !important;
    padding-bottom: 40px;
}

.loading-indicator {
  width: 100%;
  text-align: center;
  margin-left: 205px;
  margin-top: 155px;
}
.graph-button-fetch {
  font-size: 12px;
  padding: 4px;
  margin-left: 4px;
  width: 220px;
}
.graph-button-fetch-disabled {
  font-size: 12px;
  padding: 4px;
  margin-left: 4px;
  width: 220px;
  color: lightgray;
}
.graph-button {
  font-size: 12px;
  padding: 4px;
  margin-left: 4px;
  width: 110px;
}
.graph-button-selected {
  background-color: #337ab7;
  color: white;
}
.graph-button-selected:hover {
  background-color: #155083;
}
.graph-button-disabled {
  background-color: darkgray;
}
.graph-opt-title {
  width: 150px;
  height: 30px;
  display: inline-block;
}

.table-cell-content {
  width: 100%;
}

.table-button-group {
  display: inline-block;
  float: right;
  margin: 2px;
}

.table-button {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px 6px;
  margin: 0 3px;
  display: inline-block;
  background-color: white;
  color: cadetblue;
  cursor: pointer;
  float: right;
}

.status-table-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: auto 10px;
}
.status-table {
  padding: 10px;
  float: left;
}
.status-table-left {
  width: 75%;
}
.status-table-right {
  margin-left: 10px;
  width: 25%;
}
.status-table > h3 {
  font-size: 1.6em;
  margin: 0 0 8px 0;
}
.status-table tr:first-child td {
  border-top: none;
}

.details {
    overflow: auto; /* Enable scroll if needed */
    background-color: #fefefe;
}

.details-content {
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
}

.prevNextButton {
  background-color: cadetblue;
  padding: 0px;
  width: 30px;
  height: 30px;
  border: 1px solid;
}

.prevNextButtonDisabled {
  background-color: darkgray;
  padding: 0px;
  width: 30px;
  height: 30px;
  border: 1px solid;
}

.details-close {
    color: white;
    float: right;
    font-size: 24px;
    font-weight: bold;
    margin-top: -7px;
    padding: 0px 5px;
}

.details-close:hover,
.details-close:focus {
    color: #d3d3d3;
    text-decoration: none;
    cursor: pointer;
}

.details-link {
    color: blue;
}
.details-link--disabled {
    color: #333;
    cursor: default !important;
}

.details-link:hover,
.details-link:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.details-header {
    background-color: #5cb85c;
    color: white;
    margin-bottom: 5px;
    padding: 5px;
}
.details-header h3 {
    margin: 0px;
}

.details-heading {
  margin-top: 20px;
}

.details-body {
  padding: 2px 8px;
}
.details-body h3 {
  margin-top: 0px;
}
.details-body h4 {
  margin-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
}

.details-table {
  margin-bottom: 5px;
  padding: 2px;
  width: 100%;
}
.details-table th {
  padding-right: 10px;
}
.details-table td {
  padding: 5px;
  border: 1px solid #d3d3d3;
}
.details-table tr {
  background: #fff;
}
.details-table.bgp-route-info {
  margin-top: 10px;
}
.details-separator {
  margin: 1px;
}
.details-action-list {
  border: 1px solid #d3d3d3;
  font-size: 1.3rem;
  margin-bottom: 5px;
  padding: 5px;
}
.details-action-list .details-link {
  margin: 4px 0;
}
.details-action-list .details-link.forced {
  float: right;
  margin: auto;
}
.details-button-panel {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.details-table.create-edit-site {
  width: 100%;
}
.details-table.create-edit-site .name-input {
  width: 100%;
  height: 34px;
}
.controller-status-icon {
  float: right;
}

.many .dygraph-legend > span { display: none; }
.many .dygraph-legend > span.highlight { display: inline; }
.dygraph-title {text-align: center;}

.svcOnline div {
  background-image: url(/static/images/online.png);
  background-repeat: no-repeat;
  padding-left: 22px !important;
  background-size: 20px 20px;
  background-position: left;
}
.svcOffline div {
  background-image: url(/static/images/offline.png);
  background-repeat: no-repeat;
  padding-left: 22px !important;
  background-size: 20px 20px;
  background-position: left;
}
.timePicker {
  display: inline-block;
}
.timeTitle {
  padding-right: 4px;
  font-weight: bold;
  margin-left: 4px;
}
.topoDiffNew {
  color: red;
}
.topoDiffExisting {
  color: green;
}

.required-asterisk {
  color: red;
  font-size: 125%;
}
.loading-spinner-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.glyphicon {
  padding-right: 2px;
}

#legendControl a {
  text-decoration: none;
}

.details-legend-table {
  width: 100%;
}

.details-legend-table td {
  text-align: center;
}

.bgp-neighbor-info {
  margin-top: 10px;
}

.bgp-neighbor-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.bgp-neighbor-header strong {
  font-size: 1.3rem;
}

.bgp-neighbor-header .status {
  border-radius: 50%;
  margin-right: 5px;
  height: 1.3rem;
  width: 1.3rem;
}

.bgp-neighbor-header .status.online {
  background-color: #2ecc71;
}

.bgp-neighbor-header .status.offline {
  background-color: #e74c3c;
}

.CustomTable__Autosizer__Container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 5px;
}

.CustomTable__Autosizer__Container, .CustomTable__Autosizer__Container .ReactVirtualized__Grid:focus {
  outline: none !important;
}

.CustomTable__GridRowCell {
  border-right: 0px;
  border-bottom: 0px;
  border-top: 1px;
  border-left: 1px;
  border-color: #d3d3d3;
  border-style: solid;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.CustomTable__GridRowCell.CustomTable__HeaderRowCell {
  border-top: none;
  border-bottom: 1px solid #d3d3d3;
  flex-direction: column;
}

.CustomTable__GridRowCell.CustomTable__HeaderRowCell > div {
  margin: auto;
}

.CustomTable__GridRowCell.CustomTable__HeaderRowCell .CustomTable__HeaderRowCell__Title {
  font-weight: 700;
}

.CustomTable__GridRowCell.CustomTable__GridRowCellLeft {
  border-left: none;
}

.CustomTable__GridRowCellEven {
  background-color: #f9f9f9;
}

.CustomTable__GridRowCell.CustomTable__GridRowCellHovered {
  background-color: #f5f5f5;
}

.CustomTable__GridRowCell.CustomTable__GridRowCellSelected {
  background-color: rgb(183,210,255);
}

.CustomTable__HeaderGrid {
  width: 100%;
  overflow: hidden !important;
  cursor: pointer;
}

.CustomTable__HeaderGrid .ReactVirtualized__Grid__innerScrollContainer {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #d3d3d3;
}

.CustomTable__BodyGrid .ReactVirtualized__Grid__innerScrollContainer {
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #d3d3d3;
}

.details-legend-row {
  display: flex;
  align-items: center;
}

.selectButtonClass {
    color: blue;
    font-weight: bold;
    width: 500px;
    display:inline-block;
}

.data-table-tab-list {
  align-items: center;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  list-style-type: none;
  padding: 0 5px;
}

.data-table-tab {
  margin: auto 2px;
  padding: 10px 5px;
  transition: font-weight 50ms ease-in-out;
}

.data-table-tab:hover {
  border-bottom: 1px solid #dbd8ff;
  cursor: pointer;
}

.data-table-tab:focus {
  outline: none;
}

.data-table-tab-selected, .data-table-tab-selected:hover {
  border-bottom: 2px solid #a29bfe;
  font-weight: bold;
}

.login-form {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: auto;
  margin-top: 150px;
  width: 300px;
}

.login-form-title {
  background-color: #eee;
  height: 75px;
  line-height: 75px;
  margin-bottom: 15px;
  text-align: center;
}

.login-form-inner {
  padding: 0 25px;
}

.login-form input {
  margin-bottom: 15px;
  width: 100%;
}

.login-form button {
  margin-bottom: 15px;
  padding: 3px;
  width: 100%;
}

.add-user-header {
  padding: 15px;
}

.add-user-header .btn {
  float: right;
}

.add-user-modal input {
  display: block;
  margin: 5px 0;
  width: 100%;
}

.add-user-modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.add-user-modal-footer .btn {
  border-color: #999;
  margin: 0 5px;
}
