/* loading image is 40x40, column width is 450, height = 350 */

@import url("nms-upgrade.css");
@import url("nms-network-config.css");

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('/static/fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/open-sans-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
       url('/static/fonts/open-sans-v15-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/open-sans-v15-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/static/fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/open-sans-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

#root {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
}
.leaflet-container {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
div.SplitPane {
  margin-top: 40px;
  position: fixed !important;
}

div.SplitPane.soloPane1.horizontal > .Pane2,
div.SplitPane.soloPane2.horizontal > .Pane1 {
    height: 0px !important;
}

div.SplitPane.soloPane1.horizontal > .Pane1,
div.SplitPane.soloPane2.horizontal > .Pane2 {
    height: 100% !important;
    padding-bottom: 40px;
}

.loading-indicator {
  width: 100%;
  text-align: center;
  margin-left: 205px;
  margin-top: 155px;
}
.graph-button-fetch {
  font-size: 12px;
  padding: 4px;
  border: 2px solid;
  margin-left: 4px;
  width: 220px;
}
.graph-button-fetch-disabled {
  font-size: 12px;
  padding: 4px;
  border: 2px solid;
  margin-left: 4px;
  width: 220px;
  color: lightgray;
}
.graph-button {
  font-size: 12px;
  padding: 4px;
  border: 2px solid;
  margin-left: 4px;
  width: 110px;
}
.graph-button-selected {
  background-color: cornflowerblue;
}
.graph-button-disabled {
  background-color: darkgray;
}
.graph-opt-title {
  width: 150px;
  height: 30px;
  display: inline-block;
}
.status-table {
  padding: 10px;
  float: left;
}
.status-table td {
  padding: 5px;
}
.status-table tr:nth-child(2n+1) {
  background: #eee;
}
.status-table tr:nth-child(2n) {
  background: #ddd;
}

.details {
    overflow: auto; /* Enable scroll if needed */
    background-color: #fefefe;
}

.details-content {
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
}

.prevNextButton {
  background-color: cadetblue;
  padding: 0px;
  width: 30px;
  height: 30px;
  border: 1px solid;
}

.prevNextButtonDisabled {
  background-color: darkgray;
  padding: 0px;
  width: 30px;
  height: 30px;
  border: 1px solid;
}

.details-close {
    color: white;
    float: right;
    font-size: 24px;
    font-weight: bold;
    margin-top: -7px;
    padding: 0px 5px;
}

.details-close:hover,
.details-close:focus {
    color: #d3d3d3;
    text-decoration: none;
    cursor: pointer;
}

.details-link {
    color: blue;
}
.details-link--disabled {
    color: #333;
    cursor: default !important;
}

.details-link:hover,
.details-link:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.details-header {
    background-color: #5cb85c;
    color: white;
    margin-bottom: 5px;
    padding: 5px;
}
.details-header h3 {
    margin: 0px;
}

.details-body {
  padding: 2px 8px;
}
.details-body h3 {
  margin-top: 0px;
}
.details-body h4 {
  margin-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d3d3d3;
}

.details-table {
  padding: 2px;
  margin-bottom: 5px;
}
.details-table th {
  padding-right: 10px;
}
.details-table td {
  padding: 5px;
  border: 1px solid #d3d3d3;
}
.details-table tr {
  background: #fff;
}
.details-separator {
  margin: 1px;
}
.controller-status-icon {
  float: right;
}

.many .dygraph-legend > span { display: none; }
.many .dygraph-legend > span.highlight { display: inline; }
.dygraph-title {text-align: center;}
.svcOnline div {
  background-image: url(/static/images/online.png);
  background-repeat: no-repeat;
  padding-left: 22px !important;
  background-size: 20px 20px;
  background-position: left;
}
.svcOffline div {
  background-image: url(/static/images/offline.png);
  background-repeat: no-repeat;
  padding-left: 22px !important;
  background-size: 20px 20px;
  background-position: left;
}
.timePicker {
  display: inline-block;
}
.timeTitle {
  padding-right: 4px;
  font-weight: bold;
  margin-left: 4px;
}
.topoDiffNew {
  color: red;
}
.topoDiffExisting {
  color: green;
}

.required-asterisk {
  color: red;
  font-size: 125%;
}
.loading-spinner-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}
.loading-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.glyphicon {
  padding-right: 2px;
}

.details-legend-table {
  width: 100%;
}

.details-legend-table td {
  text-align: center;
}

.CustomTable__Autosizer__Container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 5px;
}

.CustomTable__Autosizer__Container, .CustomTable__Autosizer__Container .ReactVirtualized__Grid:focus {
  outline: none !important;
}

.CustomTable__GridRowCell {
  border-right: 0px;
  border-bottom: 0px;
  border-top: 1px;
  border-left: 1px;
  border-color: #d3d3d3;
  border-style: solid;
  padding: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.CustomTable__GridRowCell.CustomTable__HeaderRowCell {
  border-top: none;
  border-bottom: 1px solid #d3d3d3;
  flex-direction: column;
}

.CustomTable__GridRowCell.CustomTable__HeaderRowCell > div {
  margin: auto;
}

.CustomTable__GridRowCell.CustomTable__HeaderRowCell .CustomTable__HeaderRowCell__Title {
  font-weight: 700;
}

.CustomTable__GridRowCell.CustomTable__GridRowCellLeft {
  border-left: none;
}

.CustomTable__GridRowCellEven {
  background-color: #f9f9f9;
}

.CustomTable__GridRowCell.CustomTable__GridRowCellHovered {
  background-color: #f5f5f5;
}

.CustomTable__GridRowCell.CustomTable__GridRowCellSelected {
  background-color: rgb(183,210,255);
}

.CustomTable__HeaderGrid {
  width: 100%;
  overflow: hidden !important;
  cursor: pointer;
}

.CustomTable__HeaderGrid .ReactVirtualized__Grid__innerScrollContainer {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #d3d3d3;
}

.CustomTable__BodyGrid .ReactVirtualized__Grid__innerScrollContainer {
  border-radius: 0px 0px 5px 5px;
  border: 1px solid #d3d3d3;
}

.details-legend-row {
  display: flex;
  align-items: center;
}

.selectButtonClass {
    color: blue;
    font-weight: bold;
    width: 500px;
    display:inline-block;
}

.tr-warning {
  background: #e5bbff;
}
.tr-marginal {
  background: #feffbe;
}
.tr-healthy {
  background: #b9d7ff;
}
.tr-excellent {
  background: #e0ffac;
}
.tr-not-tested {
  background: #c9c9c9;
}
.tr-other {
  background: #fe6767;
}
