[Unit]
Description= Production NMS Node.js instance
           
[Service]
Type=simple
User=root
ExecStart=/home/nms/tgnms/service/nms_prod/run
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
